*{
    box-sizing: border-box;
}
body{
    background-image: url(images/background.jpg);
}
nav{
    font-style: italic;
    font-size: large;
    display: flex;
    justify-content: center;
}
.gallery-img{
    display: none;
    max-height: 600px;
    border-radius: 5px;
}
.active{
    display: block;
}
.image-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.prev{
    margin-right: 15px;
}

.btn:disabled{
    background-color: #777;
    cursor: not-allowed;
}
footer{
    color: black;
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: 10px;
}